*RDS filter=lfs diff=lfs merge=lfs -text
*sqlite filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_3.prj filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_4.shp filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_0.dbf filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_1.shp filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_2.cpg filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_3.shx filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_4.cpg filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_0.shx filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_3.dbf filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_0.shp filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_2.shx filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_0.prj filter=lfs diff=lfs merge=lfs -text
shapefiles/bathymetry.tif.aux.xml filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_2.dbf filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_4.dbf filter=lfs diff=lfs merge=lfs -text
shapefiles/license.txt filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_0.cpg filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_1.shx filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_2.shp filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_3.shp filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_4.shx filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_1.dbf filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_1.cpg filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_1.prj filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_2.prj filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_3.cpg filter=lfs diff=lfs merge=lfs -text
shapefiles/gadm36_ZAF_4.prj filter=lfs diff=lfs merge=lfs -text
shapefiles/volcanoes_layer.R filter=lfs diff=lfs merge=lfs -text
shapefiles/bathymetry.tif filter=lfs diff=lfs merge=lfs -text
notes-nicolas.ipynb filter=lfs diff=lfs merge=lfs -text
notes-nicolas.html filter=lfs diff=lfs merge=lfs -text
